#page-content {
  background-color: @page-content-background-color;
  margin: 0 0 0 220px;
  position: relative;
}

#page-title {
  padding: 5px 10px;
  width: 100%;
  
  h1 {
    line-height: 30px;
    font-size: 26px;
    margin: 0 0 30px 0;
  }
}