#page-content {
  background-color: @page-content-background-color;
  position: absolute;
  left: 220px;
  top: 0;
  height: 100%;
}

#page-title {
  padding: 5px 10px;
  width: 100%;
  
  h1 {
    line-height: 30px;
    font-size: 26px;
    margin: 0 0 30px 0;
  }
}