# OS dependent files
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db
Desktop.ini
*~
# Thumbnails
._*

# Gradle files
build/
.gradle/

# Maven files
target/

# Sublime files
*.sublime-project
*.sublime-workspace

# IntelliJ IDEA files
*.iml
*.ipr
*.ids
*.iws
.idea/

# Eclipse files
.project
.metadata
.classpath
.settings/
.loadpath
bin/
