html * {
  outline: medium none !important;
}
body,
html,
#page {
  height: 100%;
}
body {
  background-color: #33414e;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #434a54;
}
a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}
#page {
  position: relative;
}
#page-sidebar {
  width: 220px;
  position: fixed;
  float: left;
  color: #fff;
  height: 100%;
}
#sidebar-navigation,
#sidebar-navigation ul {
  display: block;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
#sidebar-navigation li {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
#sidebar-navigation li.title {
  border-bottom: 1px solid #2f3c48;
  color: #999;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  padding: 20px 10px 10px;
}
#sidebar-navigation li a {
  /* general styles for each link in the side bar navigation */
  display: block;
  font-size: 13px;
  line-height: 19px;
  text-decoration: none;
  width: 100%;
}
#sidebar-navigation li > a {
  /* links of 1st level */
  border-bottom: 1px solid #2f3c48;
  color: #fff;
  padding: 15px 10px 15px 15px;
}
#sidebar-navigation li > a:hover,
#sidebar-navigation li > a.active {
  background-color: #3d4e5d;
  transition: all 200ms ease 0s;
}
#sidebar-navigation li ul {
  display: none;
}
#sidebar-navigation li > a.active + ul {
  display: block;
}
#sidebar-navigation li ul li > a {
  /* links of 2nd level */
  border-bottom: 1px solid #23303b;
  background-color: #273541;
  color: #ccc;
  padding: 15px 10px 15px 30px;
}
#sidebar-navigation li ul li > a:hover,
#sidebar-navigation li ul li > a.active {
  background-color: #23303b;
}
#sidebar-navigation .fa.pull-right {
  margin-top: 3px;
}
#sidebar-navigation #logo a {
  display: block;
  padding: 13px 10px;
  text-align: center;
  height: 50px;
  background-color: #f2ae72;
  color: #434a54;
  font-size: 20px;
}
#top-navigation {
  background-color: #33414e;
  height: 50px;
  display: block;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  width: 100%;
}
#top-navigation > li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}
#top-navigation > li > a {
  display: block;
  padding: 15px 10px;
  text-align: center;
  width: 50px;
  color: #fff;
}
#top-navigation > li > a:hover {
  background-color: #3d4e5d;
  color: #ffd559;
  transition: all 200ms ease 0s;
}
#loading-bar .bar {
  background: #fff;
  height: 4px;
}
#loading-bar-spinner .spinner-icon {
  border-top-color: #fff;
  border-left-color: #fff;
}
#loading-bar .peg {
  -moz-box-shadow: #fff 1px 0 6px 1px;
  -ms-box-shadow: #fff 1px 0 6px 1px;
  -webkit-box-shadow: #fff 1px 0 6px 1px;
  box-shadow: #fff 1px 0 6px 1px;
  height: 4px;
}
#breadcrumb {
  background-color: #e8e8e8;
  margin-bottom: 10px;
  padding: 6px 15px 7px;
  width: 100%;
  list-style: outside none none;
}
#breadcrumb li,
#breadcrumb li a {
  color: #99a0aa;
  line-height: 12px;
  font-size: 11px;
}
#breadcrumb li {
  display: inline-block;
}
#breadcrumb li:last-child {
  color: #656d78;
}
#breadcrumb li + li:before {
  color: #99a0aa;
  content: "> ";
  padding: 0 5px;
}
#page-content {
  background-color: #f2f2f2;
  position: relative;
  margin-left: 220px;
  min-height: 100%;
}
#page-content-wrap {
  padding: 0 10px;
}
#page-title {
  padding: 5px 10px;
  width: 100%;
}
#page-title h1 {
  line-height: 30px;
  font-size: 26px;
  margin: 0 0 30px 0;
}
/* Login */
#login {
  margin: 0 auto;
  width: 400px;
  color: #fff;
}
#login-logo {
  color: #f2ae72;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 100px 0 20px 0;
}
#login-content {
  background-color: #4a5660;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#login-content h1 {
  font-size: 19px;
  font-weight: bold;
  margin: 0 0 20px 0;
}
#login-content .form-control {
  background-color: rgba(0, 0, 0, 0.2);
  color: #ccc;
  border: 0 none;
  box-shadow: none;
  padding: 10px 15px;
  height: auto;
}
#login-content .btn-link {
  color: #fff;
}
.action {
  color: #434a54;
  text-decoration: none;
}
.action .fa {
  padding: 0 0 0 5px;
}
.action-edit:hover {
  color: #f0ad4e;
}
.action-delete:hover {
  color: #d9534f;
}
.table .fa-lg {
  vertical-align: 0;
}
.table.has-actions tr td:last-child,
.table.has-actions tr th:last-child {
  text-align: right;
}
.table pre {
  white-space: pre-wrap;
}
/* Services */
.service-title,
.service-type {
  display: block;
}
.service-title {
  font-weight: bold;
}
.select-service a {
  display: block;
  color: inherit;
  padding: 10px;
  float: left;
  margin: 0 0 15px 0;
  width: 49%;
}
.select-service a:hover {
  background-color: #eee;
}
/* Application EnvVar*/
.word-break {
  word-break: break-all;
}
/* map a route input field */
.routeHost {
  width: 100px;
  float: left;
  margin-right: 5px;
}
.routeDomain {
  width: 260px;
}
/* Angular JS animation */
.fadein,
.fadeout {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}
.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}
/* Bootstrap overrides */
.row {
  margin: 0 -10px;
}
.row [class^="col-xs-"],
.row [class^="col-sm-"],
.row [class^="col-md-"],
.row [class^="col-lg-"] {
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.panel {
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  border: 0;
}
.panel > .table tr td:first-child,
.panel > .table tr th:first-child {
  padding-left: 15px;
}
.panel > .table tr td:last-child,
.panel > .table tr th:last-child {
  padding-right: 15px;
}
.form-horizontal .form-group {
  margin-left: -10px;
  margin-right: -10px;
}
#login .form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
.btn {
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  padding: 4px 15px;
  transition: all 200ms ease 0s;
}
.tab-content > .active {
  padding: 15px;
}
@media (max-width: 567px) {
  .label.label-responsive .toggle-text {
    font-size: 0pt !important;
  }
}
