<sidebar></sidebar>

<div id="page-content">
  <topbar></topbar>
  
  <breadcrumb></breadcrumb>

  <messages></messages>
  
  <div id="page-title" class="clearfix">
    <h1 class="pull-left">Application: {{name}}</h1>
    <div class="pull-right">
      <a class="action action-stop" ng-click=""><i class="fa fa-lg fa-stop"></i></a>
      <a class="action action-refresh" ng-click=""><i class="fa fa-lg fa-refresh"></i></a>
      <a class="action action-edit" ng-click="editApplication()"><i class="fa fa-lg fa-pencil"></i></a>
      <a class="action action-delete" ng-click="deleteApplication()"><i class="fa fa-lg fa-trash"></i></a>
    </div>
  </div><!-- /#page-title -->
  
  <div id="page-content-wrap" class="clearfix">
    
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Configuration</h3>
          </div>
          <table class="table table-striped table-hover has-actions">
            <thead>
              <tr>
                <th>Instances</th>
                <th>Memory Limit</th>
                <th>Disk Limit</th>
                <th>Last push</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{nrOfInstances}}</td>
                <td>{{memory}}</td>
                <td>{{diskQuota}}</td>
                <td>{{lastPush}}</td>
              </tr>
            </tbody>
          </table>
        </div><!-- /.panel -->
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">About</span></h3>
          </div>
          <table class="table table-striped table-hover has-actions">
            <thead>
              <tr>
                <th>Buildpack</th>
                <th>Start cmd</th>
                <th>Package state</th>
                <th>Stack</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{buildPack}}</td>
                <td>{{startCommand}}</td>
                <td>{{packageState}}</td>
                <td>{{stack.entity.description}}</td>
              </tr>
            </tbody>
          </table>
        </div><!-- /.panel -->
      </div>
    </div><!-- /.row -->
  
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">Services <span class="label label-default">{{nrOfServices}}</span></h3>
            <a class="btn btn-success pull-right" ng-click="addServiceBinding(services)"><i class="fa fa-plus"></i>&nbsp; Bind a service</a>
          </div>
          <table class="table table-striped table-hover has-actions">
            <thead>
              <tr>
                <th>Service</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="service in services">
                <td>
                  <span class="service-title">{{service.name}}</span>
                  <a ng-click="service.isCollapsed = !service.isCollapsed"><i class="fa fa-caret-right"></i> Show credentials</a>
                  <pre collapse="service.isCollapsed" class="service-credentials word-break">{{service.credentials}}</pre>
                </td>
                <td>
                  <a class="action" href="{{service.dashboard_url}}" target="_blank"><i class="fa fa-lg fa-cog"></i></a>
                  <a class="action action-delete" ng-click="deleteServiceBinding(service)"><i class="fa fa-lg fa-trash"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div><!-- /.panel -->
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">Routes <span class="label label-default">{{nrOfRoutes}}</span></h3>
            <a class="btn btn-success pull-right" ng-click=""><i class="fa fa-plus"></i>&nbsp; Map a route</a>
          </div>
          <table class="table table-striped table-hover has-actions">
            <thead>
              <tr>
                <th>Route</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="route in routes">
                <td><a href="http://{{route.host}}.{{route.domain.name}}" >{{route.host}}.{{route.domain.name}}</a></td>
                <td><a class="action action-delete" ng-click="unmapRoute(route)"><i class="fa fa-lg fa-trash"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div><!-- /.panel -->
      </div>
    </div><!-- /.row -->
  
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">User Environment variables <span class="label label-default">{{nrOfUserEnvVars}}</span></h3>
            <a class="btn btn-success pull-right" ng-click=""><i class="fa fa-plus"></i>&nbsp; Add an environment Variable</a>
          </div>
          <table class="table table-striped table-hover has-actions">
            <thead>
              <tr>
                <th>Key</th>
                <th>Value</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(usrEnVarKey, usrEnVarValue) in environmentVariables.environment_json">
                <td>{{usrEnVarKey}}</td>
                <td>{{usrEnVarValue}}</td>
                <td>
                  <a class="action action-edit" ng-click=""><i class="fa fa-lg fa-pencil"></i>
                  <a class="action action-delete" ng-click=""><i class="fa fa-lg fa-trash"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div><!-- /.panel -->
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">System Environment variables</h3>
          </div>
          <div class="panel-body">
            <p class="word-break">{{systemEnvironmentVariables}}</p>
          </div>
        </div><!-- /.panel -->
      </div>
    </div><!-- /.row -->
    
  </div><!-- /#page-content-wrap -->
</div><!-- /#page-content -->