<div class="modal-header">
<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title">Scale application</h3>
</div>
<div class="modal-body">
  <p>This will cause the app to restart. Are you sure you want to scale this application?</p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Scale</button>
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>